@font-face {
  font-family: 'mission';
  src: url("../fonts/Mission-Script.otf");
}

@font-face {
  font-family: 'titillium-reg';
  src: url("../fonts/Titillium-Regular.otf");
}

html {
  height:100%;
}

body {
  background: linear-gradient($avyellow, $dblue) center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  #logo {
    max-width:540px; /* you can use % */
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 30px;
  }
  p {
    font-family: 'titillium-reg';
    max-width: 760px;
    min-width: 540px;
    font-size: 20px;
    text-align: center;
    color: $avyellow;
    display: block;
    margin: 50px auto;
  }
}

nav {
  text-align: center;
  margin-top: 8%;
  a {
    text-decoration: none;
    display: inline-block;
    width: auto;
    font-family: 'mission';
    font-size: 28px;
    color: white;
    @include box_custom($transparent, solid 8px $dblue, 12px 24px 10px 24px, 10px);
    margin: 10px 10px;
  }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: $lblue;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    color: white;
}

.wwa{
  min-width: 0;
  height: 300px;
  width: 600px;
  p{
    padding: 20px;
    background-color: rgba(0,0,0,.5);
  }
  background: url("../img/erlich.gif");
  background-repeat: no-repeat;
  background-size: auto 100%;

}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


// gallery

.thumbnails img {
  display: inline-block;
	height: 80px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 4px solid #00ccff;
	cursor:pointer;
}

.preview img {
	border: 4px solid #444;
	padding: 1px;
	// width: 800px;
  max-width: 600px;
  max-height: 600px;
}
